    
<p>Acceso a las pruebas: <a href="tests/index.html">Pruebas</a></p>
<p>Acceso al repositorio GitHub del proyecto: <a href="https://github.com/alu0100694987/p4-pdl" target="_blank">Repositorio GitHub</a></p>

<p> Indique un fichero con código JavaScript: </p>
<textarea id="input">
  var a = "hello"; // initialize a
  var b = function(x) {
            var c = 3;
            return x+c;
          };
</textarea>
<br>
<input id="parse" value=parse type=button class="mylink">
<pre id="output"></pre>