<!DOCTYPE html>

<html>

  <head>
  
    <title> Analizador L&eacute;xico JavaScript </title>
    
    <meta name="Author" content="Cristo Gonz&aacute;lez Rodr&iacute;guez - alu0100694987 | Sawan J. Kapai Harpalani - alu0100694765" />  
    <meta name="Description" content="Analizador L&eacute;xico de JavaScript" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <link href="images/favicon.ico" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="global.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    
    <script src="script/tokens.js" type="text/javascript"></script>
    <script src="script/parse.js" type="text/javascript"></script>
    <script src="script/main.js"></script>
    
    <!-- CodeMirror -->
    <script src="script/texto.js" type="text/javascript"></script>
    <link rel="stylesheet" href="lib/codemirror.css">
    <script src="lib/codemirror.js"></script>
    <script src="mode/javascript/javascript.js"></script>
    
    <!-- Tests -->
    <script src="tests/chai.js"></script>
    <script src="/tests/mocha.js"></script>
    <script src="script/main.js"></script>
    <script src="script/tokens.js"></script>
    <script>mocha.setup('tdd')</script>
    <script src="/tests/tests.js"></script>
  </head>

  <body>
  
    <div id="contenido">
 
      <h1>An&aacute;lisis L&eacute;xico - JavaScript</h1>
      
      <%= yield %>

    </div>
    
    <footer>
      <div id="piedepagina">
        Pr&aacute;ctica: Analizador L&eacute;xico - PDL | <a href="https://github.com/alu0100694987/p3-pdl">https://github.com/alu0100694987/p4-pdl/</a> <br> 
      </div>
    </footer>

  </body>
  
</html>
