<!DOCTYPE html>
<html>

  <head>
 
    <script src="tests/chai.js"></script>
  <script src="/tests/mocha.js"></script>
  <script src="script/main.js"></script>
  <script src="script/tokens.js"></script>
  <script>mocha.setup('tdd')</script>
  <script src="/tests/tests.js"></script>
  </head>
  
  <body>
    <div id="mocha"></div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    
    <script>
      mocha.run();
    </script>
    <script>
    function dump(fileName) {
      $.get(fileName, function (data) {
        $("#input").val(data);
      });
    };
   </script>
    <p>Volver a la <a href="/">p&aacute;gina principal</a></p>
    
    <!-- Footer -->
    <footer>
      <div id="piedepagina">
        Pr&aacute;ctica: Ficheros INI - PDL | <a href="index.html">https://github.com/alu0100694987/p3-pdl/</a> <br>
        <!-- Cristo Gonz&aacute;lez Rodr&iacute;guez <a href ="alu0100694987@ull.edu.es">alu0100694987@ull.edu.es</a> Sawan J. Kapai Harpalani <a href="alu0100694765@ull.edu.es">alu0100694765@ull.edu.es</a>--> 
      </div>
    </footer>
    
  </body>
  
</html>