
/* Fuentes */

  @font-face {
    font-family: 'Andika';
    src: url("fuentes/Andika-R.ttf");
  }

/* General */

.styled-button-1 {
	/*-webkit-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
	-moz-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
	box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;*/
	color:#333;
	background-color:#40FF00;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border:none;
	font-family:'Helvetica Neue',Arial,sans-serif;
	font-size:16px;
	font-weight:700;
	height:32px;
	padding:4px 16px;
	/*text-shadow:#FE6 0 1px 0*/
}



  html * {
    font-family: "Arial", sans-serif;    
  }

  body {
    background: #183026 url('images/fondo.jpg') no-repeat;
    background-size: cover;
    background-position: center 0;
    background-attachment: fixed;
    margin-left: 20%;
    margin-right: 20%;
  }
  
  h1 {
    font-family: Andika;
    font-size: 65px;
    color: white;
    text-shadow: 0px 0px 8px #FFFF00;
    text-align: center; 
  }
  
  p {
    color: white;
    font-size: 18px;
    text-align: justify;
    text-indent: 0.8em;
  }
  
  a {
    text-decoration: none;
    color: #A9A9F5;
  }
  
  a:hover {
    text-decoration: underline;
    color: #FFF;
  }
  
  a:link { 
    color:#00FFFF; 
  }
  
  a:visited { 
    color:#40FF00;
  }
  
  a:active {
    color:#0000FF;
  }
  
  ul li {
    color: #A9D0F5;
    text-align: justify; 
  }

  span {
    color: #B404AE;
    font-weight: bold;
  }
  
  footer {
    position:fixed;
    left:0;
    bottom:0;
    height:20px;
    width:100%;
    padding: 0.6em 0 0.6em 0;
    box-shadow: inset 0px 10px 60px 0px rgba(255,255,255,0.15);
  }
  
  pre {
    white-space: pre-wrap;       /* css-3 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    padding-left: 10px;
  }
  
  .thumb {
    height: 75px;
    border: 1px solid #000;
    margin: 10px 5px 0 0;
  }

  th, td  { 
    vertical-align: top; 
    text-align: left; 
  }
  
  th {
    background-color: thistle; border: black solid 1px; text-align: left;
    padding-left: 10px; padding-right: 10px; vertical-align: top;
  }
  
  td {
    background-color: white; border: black solid 1pt; padding-left: 10px;
    padding-right: 10px; vertical-align: top;
  }

  input { 
    text-align: right;  border: none;       
  }
  
  textarea { 
    border: outset; border-color: white;
  }
  
  table { 
    border-color: white;
    width: 90%; border: 0px;
  }
  
/* Contenido */

  #botones {
    
  left: 50%;
  margin-left: 175px;
  }

  #contenido {
    padding-bottom: 60px;
  }
  
  #input {
    border: none; 
    color: black;
    font-family: monospace;
    height: 1in;
    overflow: auto;
    /* padding: 0.5em; */
    width: 80%;
    background-color: #81F781; 
  }
  
  #output {
    background-color: white; 
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  #parse:focus {
    outline:0; 
  }

  .center { 
    margin-left:auto; margin-right:auto; 
  }
  
  .mylink {
    background-color: #66FFCC;
    -webkit-border-radius: 15px;
    border: 5px solid #009900;
  }

/* Pie de página */

  #piedepagina {
    text-align: center;
    text-shadow: 1.5px 1.5px 1.5px white;
    color: white;
  }
  
  #piedepagina a {
    color: white;
  }
  
  #piedepagina a:hover {
    color: white;
    text-shadow: 1.5px 1.5px 1.5px black, 0px 4px 1px white;
    text-decoration: none;
  }